<!DOCTYPE html>

<html>
    <head>
        <title>Contact Manager</title>
    </head>
    <body>
        <h2>Contact Manager</h2>
        <ul>
            <li>/Home/Index</li>
            <li>/Home/Show</li>
            <li>/Home/Set?first=x&last=y</li>
        </ul>
    </body>
</html>

