<!DOCTYPE html>

<html>
    <head>
           <title>Contact Manager</title>
    </head>
    <body>
        <h2>Setting New Contact</h2>
        <p>First Name is @ViewBag.First</p>
        <p>Last Name is @ViewBag.Last</p>
    </body>
</html>

