@model NathanSacconAssignment1.Models.Contact
<!DOCTYPE html>

<html>
    <head>
        <title>Show</title>
    </head>
    <body>
        Name is @Model.FirstName @Model.LastName
    </body>
</html>