@model MvcTermLifeNathanSaccon.Models.Person

<!DOCTYPE html>

<html>
<head>
    <title>Quote</title>
</head>
<body>
    <h2>Term Life Proposal</h2>
    Insured: @Model.Name <br />
    Age: @Model.Age <br />
    Death Benefit: @ViewBag.amount<br />
    Monthly Premium: @ViewBag.premium<br />
</body>
</html>
